@media only screen and (max-width: 1200px){
	/*BUTTONS*/
	
	/*HEADER*/
	header{
		
	}
	.logo{
		width: 10%;
	}
	.title_block h1{
		font-size: 47px;
	}
	.title_block p{
		font-size: 18px;
	}

	/*SECTION ABOUT*/

	/*SECTION SKILLS*/

	/*SECTION WORKS*/

	/*FOOTER*/
	
}
@media only screen and (max-width: 992px){
	/*BUTTONS*/

	/*HEADER*/
	header{
		
	}
	.logo{
		margin: 0;
	}
	.menu li a{
		font-size: 14px;
		width: 80px;
	}
	.title_block h1{
		font-size: 35px;
	}
	.title_block p{
		font-size: 15px;
	}
	/*SECTION ABOUT*/

	/*SECTION SKILLS*/

	/*SECTION WORKS*/

	/*FOOTER*/

	/*MODAL WINDOW*/
	.main_mod{
		width: 700px;
		margin-left: -350px;
	}
}
@media only screen and (max-width: 768px){
	/*BUTTONS*/

	/*HEADER*/
	header{
		
	}
	.logo{
		height: 100%;
		line-height: 100%;
		width: 105px;
		padding: 2px 0 0;
	}
	nav{
		opacity: 1;
	}
	#top_menu{
		background-color: #282828;
		z-index: 9;
		width: 100%;
  		left: 0;
		right: 0;
  		top: 50px;
  		position: fixed;
  		padding: 5px 0 20px;
	}
	.menu li{
		padding: 0;
	}
	.menu li a{
		width: 90%;
		border-radius: 2px;
		margin: 0 auto;
	}
	.menu li a:hover{
		background-color: #DBD7D2;
		color: #282828;
	}
	.title_block h1{
		font-size: 40px;
	}

	/*SECTION ABOUT*/

	/*SECTION SKILLS*/

	/*SECTION WORKS*/
	.works_head{
		margin-bottom: 0;
	}
	.p_20{
		margin-top: 20px;
	}
	.p_20:first-child{
		margin-top: 0;
	}

	/*FOOTER*/
	.back_link{
		top: -173px;
	}

	/*MODAL WINDOW*/
	.main_mod{
		position: relative;
		width: 100%;
		left: 0;
		margin-left: 0;
	}
	
}
@media only screen and (max-width: 480px){
	/*BUTTONS*/

	/*HEADER*/
	.title_block h1{
		font-size: 35px;
	}
	.title_block p{
		font-size: 13px;
	}
	.title_block{
		margin-top: 150px;
	}

	/*SECTION ABOUT*/

	/*SECTION SKILLS*/

	/*SECTION WORKS*/

	/*FOOTER*/
	
	
}
@media only screen and (max-width: 320px){
	/*BUTTONS*/

	/*HEADER*/
	.title_block h1{
		font-size: 30px;
	}

	/*SECTION ABOUT*/

	/*SECTION ABOUT*/

	/*SECTION WORKS*/

	/*FOOTER*/
}